@import "tailwindcss";

@theme {
  --color-primary: #092754;
  --color-secondary: #ffe5af;
}

/* poppins-latin-100-900-normal */
@font-face {
  font-family: "Poppins Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2")
    format("woff2-variations");
}

@layer base {
  nav ul {
    list-style: none;
  }

  h1,
  .poppins {
    font-weight: 900;
    font-family: "Poppins", sans-serif;
  }
}
